/* section some of our work */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 0vh;
    line-height: 0;
}

.item img {
    width: 100%;
}

.item3 {
    grid-row: span 2; 
}

.holder {
    position: relative;   
    overflow: hidden; 
    transition: 0.5s Ease;   
}

.creative-text {
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    color:white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    font-size: 20px;  
    transition: 0.9s Ease;
    line-height: 1;
}

.smooth:hover .creative-text {   
    right:0px;
    cursor: pointer;   
} 

.icon-size {
    font-size: 40px;
}

.creative-title {
    padding: 10px 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.creative-subtitle {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.post-position {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.our-work .post-text {
    width: 40%;
    margin: 40px 0 0 30px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.editor-name {
    margin-top: 20px;
    font-family: "Kaushan Script";
    color: #333333;
}

.editor-name span{
    font-family: sans-serif;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #f38181;
}
/* section some of our work */